* {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-size: 62.5%;
}

#page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p.title {
    font-size: 2.4rem;
}

p.description {
    font-size: 1rem;
}

#new-book-btn {
    background-color: #04AA6D;
    border: none;
    border-radius: .3rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#book-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 2rem;
}

#read-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#form-bottom-buttons {
    display: flex;
    justify-content: center;
}